<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have experience as a software engineer and data scientist, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services (API services, stream processing,
            and async mechanisms). I also posess sound knowledge of devops techniques (continuous build and deployment).
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a role where I can take on collaborative
           team responsibilites, and further gain experience with
           the programming and development processes.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Excelled in python scripting and developed fast scalable solutions in fields 
            like computational sementics and argumentation and data processing.
    			</li>
          <li>
            Developed scalable web applications in Java, Python and Ruby and also created 
            various proof of concepts regarding the first demand of customer on time.
          <li>
            Created software applications while freelancing and provided 24/7 customer support.
    			<li>
            Presented "Advanced Enterprise Information Management Systems using deep information 
            design" at University of Koblenz-Landau, Rhineland-Palatinate.
    			</li>
    			<li>
            Did voluntary work for various technical projects in the early stages of my career.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
