<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Programming</b>. It's an exciting time for coding and creating new applications. I'm working on several projects and gaining motivation through online classes, and swapping articles with collegues.
			  </li>
			  <li>
				  <b>Data science and Machine Learning</b>. I've been very enthusiastic In the field of data and how can we manupulate it through machine learning and analyze it by data analysis.
			  </li>
			  <li>
				  <b>Traveling</b>. I have travelled to various countries, and had glims of some of the greatest landscapes. I enjoy spending weekends
          tracking for hours.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
		    Crowd Topic is a Django based web application used for extracting social media content for the dedicated customers and placing them in their social intranets.
    		</li>
  			<li>
		    Custom tool for data quality for ACCENTURE and BMW for analyzing data of BMW users weekly and finding patterns in the data for enhancing business. Data is processed on Microsoft Azure. 
			</li>
			<li>
			Data analysis of BMW website by net promoter score metric for BMW by doing analysis of data through python scripts which extract live data from BMW website and categorizing it for enhancing user experience.  
			</li>
			<li>
			Wiki Impact for GESIS Cologne determines impact of Wikipedia user by his participation in Wikipedia articles. Data can be visualized which is extracted from wiki. 
			</li>
  		  </ul>
      </div>
    </div>
  </div>
</section>
